     @import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

        h1 {
            text-align: center;
            font-family: 'Google Sans Flex', sans-serif;
            font-size: 70px;
            text-decoration: underline;
            text-decoration-thickness: 11px;
            color: purple;
        }

        main>ul {
            font-size: 22px;

        }

        p {
            font-size: 50px;
            font-weight: 500px;
            margin: 20px;
        }

        main>.hello {
            padding: 22px;
            border: 3px solid black;
            background-color: red;
            color: white;
            line-height: 2;
        }

        main>.bye {
            padding: 0px;
            color: black;
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            border: 0px;


        }

        .box {
            border: 3px solid black;
            padding: 15px;
            flex: 1;
            /* Boxes barabar jagah lenge */
            min-width: 250px;
            /* Box isse chota nahi hoga */
            background-color: yellow;
            /* Har box ka apna background */
        }

        .box dt {
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 5px;
        }

        .box dd {
            font-size: 16px;
            margin-left: 0;
            line-height: 1.4;
        }

        main>.yeah {
            border: 3px solid black;
            line-height: 2;
            background-color: skyblue;
            padding: 22px;
        }

        nav {
            background: black;
            color: white;
            padding: 12px;
            font-size: 20px;
            text-align: center;
        }

        nav a {
            margin: 0 18px;
            text-decoration: none;
        }

        html {
            scroll-behavior: smooth;
        }

        main>.name {
            border: 3px solid black;
            line-height: 2;
            background-color: orange;
            padding: 22px;
        }

        nav>a:visited {
            color: white;
        }

        nav>a:link {
            color: white
        }

        body {
            background-color: antiquewhite;
        }

        nav>a:hover {
            color: yellow;
        }

        footer {
            text-align: center;
            margin-top: 40px;
            font-size: 18px;
        }
        main{
            width: 80%;
            margin: auto;
        }